.two-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.two-images img {
  display: block;
  margin: 1em;
}
.two-images .left, .two-images .right {
  text-align: center;
}
