body, html {
  font-size: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  color: #444;
}

* {
  &, &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

a, a:visited {
  outline: none;
  color: #4c0757;
  text-decoration: none;
}
a:hover {
  color: #f96;
}

.grid {
  display: grid;
  grid-template-columns: 20px 1fr 30% 20px;
  grid-template-areas: 
  ". header header . "
  ". featured-posts featured-posts . "
  ". content side-bar ."
  ". footer footer .";
  min-height: 100vh;
  @media screen and (max-width: $break-large) {
    grid-template-areas: 
    ". header header . "
    ". featured-posts featured-posts . "
    ". side-bar side-bar ."
    ". content content ."
    ". footer footer .";
  }
}
