@import "variables";
@import "base";
@import "print";
@import "components/article";
@import "components/footer";
@import "components/nav";
@import "components/content";
@import "components/featuredPosts";
@import "components/header";
@import "components/sidebar";
@import "components/fonts";
@import "components/recipe";
@import "components/pagination";
@import "components/portfolio";
@import "components/twoImages";
@import "components/oneImage";

main {
  padding-top: 150px;
}

h1, h2, h3, h4 {
  font-family: '-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','sans-serif';
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.content-module {
 padding-bottom: 1em;
}

@media print{
  .article__header, .article__date, .content-module, #disqus_thread, .navigation, .print-button{
    display:none;
  }
  .recipe {
    margin: 0;
  }
  main {
    display: block;
  }
}
