@import "variables";
@import "base";
@import "print";
@import "components/article";
@import "components/footer";
@import "components/nav";
@import "components/content";
@import "components/featuredPosts";
@import "components/header";
@import "components/sidebar";
@import "components/fonts";
@import "components/recipe";
@import "components/pagination";
@import "components/portfolio";
@import "components/twoImages";
@import "components/oneImage";

main {
  padding-top: 150px;
}

h1, h2, h3, h4 {
  font-family: '-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','sans-serif';
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.content-module {
 padding-bottom: 1em;
}

@media print{
  .article__header, .article__date, .content-module, #disqus_thread, .navigation, .print-button{
    display:none;
  }
  .recipe {
    margin: 0;
  }
  main {
    display: block;
  }
}
blockquote {
  z-index: 1;
  position: relative;
  margin: 0;
  padding: .75rem 2.75rem;
  font-family: Georgia, serif;
  font-size: 1.125rem;
  font-style: italic;
	padding: 1em 2em;
  width: 80%;
  margin: 0 auto;
	background-color: transparentize(#000, .98);
  &::before,
  &::after {
    z-index: -1;
    position: absolute;
    color: hsl(0,0,82.5%);
    font-size: 4rem;
    font-style: normal; 
    font-weight: 700;
  }
  &::before {
    content: "“";
    top: 0;
    left: 0;
    line-height: 1;
  }
  &::after {
    content: "”";
    bottom: 0;
    right: 0;
    line-height: 0;
  }
}


